html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	background: #4287f5;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 30px;
	text-align: center;
}

.msg {
	display: none;
}

h1 {
	font-size: 5rem;
	font-weight: bold;
}

form {
	padding-top: 20px;
	width: 500px;
	margin: 0 auto;
}

input {
	width: 100%;
	height: 40px;
	border: none;
  background: none;
  outline: none;
	color: inherit;
	font-size: 1.7em;
	margin-bottom: 10px;
	border-bottom: 1px solid;
}

input::placeholder {
	color: black;
	font-size: 1em;
}

.radio-buttons {
	display: flex;
	justify-content: space-between;
	font-size: 1em;
	padding: 10px;
}

.radioBtn  {
	font-size: 1em;
	/* opacity: 0;
  position: fixed;
  width: 0; */
}
/* 
.radioBtn label {
	display: inline-block;
	background-color: #ddd;
	padding: 10px 20px;
	font-family: 'IBM Plex Sans', sans-serif, Arial;
	font-size: 16px;
	border: 2px solid #444;
	border-radius: 4px;
} */

.button {
	width: 500px;
	padding: 10px;
	border-radius: 5px;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: #ffff00;
}

.button:hover {
	background: #ffff04
}

.weather-display {
	margin: 0 auto;
	padding-bottom: 20px;
}

.city-name {
	text-transform: capitalize;
}

.city-name, .temperature {
	text-align: center;
	font-size: 3em;
	font-weight: 500;
	padding: 10px;
}

.temperature {
	font-weight: 500;
}

.description {
	text-align: center;
	font-size: 2.5em;
	font-weight: 500;
	text-transform: capitalize;
}

.icon {
	display: block;
	margin: 0 auto;
  width: 10em;
  height: 10em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.hidden {
	display: none;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.footer {
	text-align: center;
	font-size: 1.7em;
	position:absolute;
	bottom:0;
	margin-bottom: 15px;
	width:100%;
}

a {
	color: #ffff00;
}